// Add a custom theme color
@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colors: (
  "navbarbackground": #d0f4de,
  "twitter": #1da1f2,
  "facebook": #1877f2,
  "instagram": #fccc63,
  "aboutbgcolor": #d8e2dc,
);

//merge thet two theme maps
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

body {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
  background: url("../images/image3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body > * {
  position: relative;
  z-index: 2;
  columns: #fff;
}
.bi-emoji-smile-fill:hover {
  color: #0dcaf0;
}
.title {
  padding-top: 6rem;
}
.bg-title {
  top: 50%;
  left: 50%;
  font-size: 4rem;
  font-weight: 800;
  opacity: 0.2;
  line-height: 7rem;
  padding-top: 4rem;
  margin: 10px auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  color: #0dcaf0;
}
.image{
  filter: grayscale(100%);
}
.image:hover{
  filter: grayscale(0%);
}

.carousel-item{
  display: inline-block;
  position: relative;
}
.service-offered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, .3);
  padding: 10px;
  border-radius: 5px;
  z-index: 4;
}
.service-offered ul li {
  line-height: 35px;
}
.carousel-item-image{
  opacity: 0.5;
  height: 500px;
}

@media (max-width: 405px) {
  #about {
    margin-bottom: 30px;
  }
  .image-container img {
    display: none;
  }
  .service-offered ul li {
    line-height: 20px;
  }
}


@import "node_modules/bootstrap/scss/bootstrap.scss";
